<div class="container-fluid main">
    
    <div class="tops_image">
        <img src="assets/tops_img.jpg">
    </div>
    <div cass="right_side">
        <h1>Instagram-Clone</h1>
        <h3>Let's check out friends photos and videos.</h3>
    </div>
</div>