// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comfirm_img img{
    width: 300px;
}

.show_img img{
    width: 300px;
}

.pict_show{
    text-align: center;
}

.pic_cont{
    background-color: white;
    text-align:center;
}
.pic_ind_img{
    background-color: white;
    width: 100%;
}

.pic_ind_img img{
    width: 100%;
}
.pic_name{
    background-color: white;
    height: 3em;
    text-align: center;
}


.hed_bot{
    height: 3em;
    text-align: center;
    padding-top: 1em;
}

.confirm_img img{
    width: 300px;
}

.pic_cont_link{
    background-color: white;
}

.mail_img img{
    width: 300px
}